---
title: Schedule
permalink: schedule/
layout: default
active: schedule
---

{% assign speakers_grouped = (site.speakers | group_by: 'talk_day' | sort: 'talk_day') %}

{% for day in speakers_grouped %}
  <section class="schedule">
    <h2>
      {% case day.name %}
        {% when "1" %}
          Wednesday, May 18
        {% when "2" %}
          Thursday, May 19
        {% when "3" %}
          Friday, May 20
      {% endcase %}
    </h2>
    {% assign speakers = (day.items | sort: 'talk_time') %}
    <ul>
      {% for speaker in speakers %}
        <li>
          <time>{{ speaker.talk_time }}</time>
          <h3>{{ speaker.first_name }} {{ speaker.last_name }}</h3>
          <h4>{{ speaker.talk_title }}</h4>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
