---
title: Schedule
permalink: schedule/
layout: default
active: schedule
---

{% assign talks_grouped = (site.speakers | group_by: 'day' | sort: 'time') %}

{% for day in talks_grouped %}
  <section class="schedule">
    <h2>{{ day.name }}</h2>
    {% assign talks = (day.items | sort: 'time') %}
    <ul>
      {% for talk in talks %}
        {% assign talk_title = talk.talk_title %}
        <li>
          <time>{{ talk.talk_time }}</time>
          <h3>{{ talk_title }} <a class="permalink" href="{{ site.baseurl }}talk/{{ talk_title | slugify }}">#</a></h3>
          <div class="description">{{ talk.talk_description }}</div>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
