---
title: Schedule
permalink: schedule/
layout: default
active: schedule
---

{% assign talks_grouped = (site.talks | group_by: 'day' | sort: 'time') %}

{% for day in talks_grouped %}
  <section class="schedule">
    <h2>{{ day.item[0] }} – {{ day.item[1] }}</h2>
    {% assign talks = (day.items | sort: 'time') %}
    <ul>
      {% for talk in talks %}
        <li>
          <time>{{ talk.time }}</time>
          <h3>{{ talk.name }}</h3>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
