---
title: Speakers
permalink: speakers/
layout: default
active: speakers
---

{% assign sorted_speakers = (site.speakers | sort: 'last_name') %}
<ul>
  {% for speaker in sorted_speakers %}
    <li><a href="#{{ speaker.name | slugify }}">{{ speaker.first_name }} {{ speaker.last_name }}</a></li>
  {% endfor %}
</ul>

<section class="speakers">
  {% for speaker in sorted_speakers %}
    <article id="{{ speaker.slug }}">
      <header>
        <picture>
          <source srcset="{{ site.baseurl }}static/img/speakers/{{ speaker.slug }}.png" media="(min-width: 600px)">
          <img src="{{ site.baseurl }}static/img/speakers/{{ speaker.slug }}.png" alt="{{ speaker.first_name }} {{ speaker.last_name }} photo">
        </picture>
        <h2><a href="{{ site.baseurl }}{{ speaker.url }}">{{ speaker.first_name }} {{ speaker.last_name }}</a></h2>
        <h4>{{ speaker.tagline }}</h4>
        <ul>
          {% if speaker.twitter != "" %}<li>Twitter: <a href="https://twitter.com/{{ speaker.twitter }}">@{{ speaker.twitter }}</a></li>{% endif %}
          {% if speaker.github != "" %}<li>Github: <a href="http://github.com/{{ speaker.github }}">{{ speaker.github }}</a></li>{% endif %}
        </ul>
      </header>
      <div class="bio">
        {{ speaker.content }}
      </div>
      <div class="talk">
        <h3>{{ speaker.talk_title }}</h3>
        <h4>{{ speaker.date | date: "%A, %B %d, %H:%M" }}</h4>
        {{ speaker.talk_description }}
      </div>
    </article>
  {% endfor %}
</section>
