<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <link href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" type="text/css" rel="stylesheet">
    <link href="http://fast.fonts.net/cssapi/f64e9adc-8a8f-4d44-9686-531880596a80.css" type="text/css" rel="stylesheet">
    <link href="{{ site.baseurl }}/static/css/main.css" type="text/css" rel="stylesheet">
  </head>
  <body class="{{ page.body-class }}">
    <header>
      <h1><a href="{{ site.baseurl }}">Front-Trends</a></h1>
      <h2><span class="time">May 18-20,</span> <span class="place">2016 in Warsaw, Poland</span></h2>
    </header>
    
    <nav>
      <ul>
        <li class="intro"><a href="#about">About</a></li>
        <li class="sponsorship"><a href="#sponsorship">Sponsorship</a></li>
        <li class="register"><a href="{{ site.baseurl }}register">Register now!</a></li>
      </ul>
    </nav>
