<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <link href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" type="text/css" rel="stylesheet">
    <link href="http://fast.fonts.net/cssapi/f64e9adc-8a8f-4d44-9686-531880596a80.css" type="text/css" rel="stylesheet">
    <link href="{{ site.baseurl }}/static/css/main.css" type="text/css" rel="stylesheet">
  </head>
  <body class="{{ page.active }}">
    <header>
      <h1><a href="{{ site.baseurl }}">Front-Trends 2016</a></h1>
      <h2>May 18-20, 2016 in Warsaw, Poland</h2>
    </header>
    {% include nav-main.html %}
