<nav>
  <ul>
    <li><a href="{{ site.baseurl }}code-of-conduct/">Code of Conduct</a></li>
    <li><a href="{{ site.baseurl }}terms-and-conditions/">Terms &amp; Conditions</a></li>
    <li><a href="{{ site.baseurl }}speaking-at-front-trends/">Call for Speakers</a></li>
    <li><a href="{{ site.baseurl }}convince-your-boss/">Convince Your Boss</a></li>
    <!--li><a href="{{ site.baseurl }}volunteer-at-front-trends/">Call for Volunteers</a></li-->
    <!--li><a href="{{ site.baseurl }}meet-the-team/">Meet the Team</a></li-->
  </ul>
  <ul>
    <li><h4>Previous editions:</h4></li>
    <li><a href="http://2014.front-trends.com/">2014</a></li>
    <li><a href="http://2013.front-trends.com/">2013</a></li>
    <li><a href="http://2012.front-trends.com/">2012</a></li>
    <li><a href="http://2010.front-trends.com/">2010</a></li>
  </ul>
</nav>
