<nav>
  <ul>
    <li{% page.active == "speakers" %} class="current"{% endif %}><a href="{{ site.baseurl }}speakers/">Speakers</a></li>
    <li{% page.active == "schedule" %} class="current"{% endif %}><a href="{{ site.baseurl }}schedule/">Schedule</a></li>
    <li{% page.active == "venue" %} class="current"{% endif %}><a href="{{ site.baseurl }}venue/">Venue</a></li>
    <li{% page.active == "sponsor" %} class="current"{% endif %}><a href="{{ site.baseurl }}sponsor/">Sponsor</a></li>
  </ul>
</nav>
