<nav>
  <ul>
    <li{% if page.active == "speakers" %} class="active"{% endif %}><a href="{{ site.baseurl }}speakers/">Speakers</a></li>
    <li{% if page.active == "schedule" %} class="active"{% endif %}><a href="{{ site.baseurl }}schedule/">Schedule</a></li>
    <li{% if page.active == "venue" %} class="active"{% endif %}><a href="{{ site.baseurl }}venue/">Venue</a></li>
    <li{% if page.active == "sponsor" %} class="active"{% endif %}><a href="{{ site.baseurl }}sponsor/">Sponsor</a></li>
  </ul>
</nav>
