@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin,latin-ext);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  font-size: 20px;
  line-height: 1.5em;
  font-family: Lato, sans-serif;
}

@media screen and (min-width: 1024px) {
  body {
    width: 960px;
    margin: 0 0 0 2rem;
    font-size: 16px;
  }
}

a {
  color: #eb3f2a;
}

.active a {
  background-color: #eb3f2a;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.5rem;
}

p {
  margin: 0 0 1.5rem;
}

blockquote {
  margin: 0;
}

h2, h3 {
  color: #4e2945;
  font-weight: 900;
}

a.button {
  background: #4e2945;
  padding: 1.5rem 2rem;
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*
  Header
  */

.splash header {
  padding: 1.5rem 2rem .5rem;
  background: #eb3f2a;
  color: #fff;
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .splash header {
    position: absolute;
    width: 245px;
    height: 260px;
    padding: 0 1rem 0 5rem;
  }
}

.splash header h1, .splash header h2 {
  font-weight: 400;
  color: #fff;
}

.splash header h1 {
  font-size: 32px;
  font-weight: 900;
}

.splash header .place {
  display: block;
}

.splash h2 {
  font-size: 20px;
}

.splash header a {
  color: #fff;
  text-decoration: none;
}

/*
  Navigation
  */

nav ul {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 102px) {
  .speakers picture,
  .speakers img {
    float: left;
    max-width: 100px;
    margin-right: 1rem;
  }
}

.splash nav {
  margin-bottom: 1rem;
  text-align: right;
  line-height: 1rem;
}

.splash nav ul {
  list-style-type: none;
}

.splash nav li {
  display: inline-block;
}

.splash nav a {
  padding: 1.5rem 1rem;
  text-decoration: none;
  display: block;
  transition: all .2s cubic-bezier(0.25, 0.35, 0.25, 1.25);;
}

.splash nav a:hover,
.splash nav a:active {
  color: #fff;
  background: #eb3f2a;
}

.splash nav .register {
    margin-left: 3rem;
}

@media screen and (max-width: 1023px) {
  .splash nav .register {
      width: calc(100% - 2rem);
      margin: 0 2rem;
  }
}

.splash nav .register a {
  background: #4e2945;
  padding: 1.5rem 2rem;
  color: #fff;
  transition: all .2s cubic-bezier(0.25, 0.35, 0.25, 1.25);
}

.splash nav .register a:hover,
.splash nav .register a:active {
  background: #692d5a;
}

/*
  Speaker list
  */

.splash section.speakers ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .splash section.speakers ul {
    display: flex;
    flex-wrap: wrap;
  }

  .splash section.speakers li {
    position: relative;
    width: 50%;
    margin-bottom: 2rem;
  }

  .splash section.speakers li::before {
    display: block;
    position: absolute;
    top: 1.2rem;
    width: 100%;
    height: 7rem;
    margin-left: 2rem;
    content: "";
    background: #f9f5f2;
    z-index: -1;
  }

  .splash section.speakers li:nth-of-type(4n+2)::before,
  .splash section.speakers li:nth-of-type(4n+3)::before {
    height: 6rem;
  }

  .splash section.speakers li:nth-of-type(4n+2),
  .splash section.speakers li:nth-of-type(4n+3) {
    width: calc(50% - 5rem);
  }

  .splash section.speakers li:nth-of-type(4n+2) {
    margin-left: 5rem;
  }

  .splash section.speakers li:nth-of-type(4n+3) {
    margin-right: 5rem;
  }
}

.splash section.speakers li h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .splash section.speakers li p {
    margin-bottom: 1rem;
    padding: 0 1rem 0 calc(100px + 1rem);
  }

  .splash section.speakers p.tagline {
    font-size: 14px;
  }
}

/*
  Intro
  */

.splash section.intro p,
.splash section.intro ul {
  margin: 0;
  padding: 2rem;
  color: #fff;
  background: #eb3f2a;
}

@media screen and (max-width: 1023px) {
  .splash section.intro p {
    padding: 2rem 2rem 0;
  }

  .splash section.intro ul {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .splash section.intro {
    margin-left: 345px;
    margin-right: -2rem;
  }
  
  .splash section.intro p,
  .splash section.intro ul {
    margin: 0;
    padding: 0 115px 1.5rem 115px;
    color: #fff;
    background: #eb3f2a;
  }
  
  .splash section.intro p:first-child {
    padding-top: 75px;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  .splash section.intro ul {
    padding-bottom: 75px;
  }

  .splash .intro li {
    display: inline;
  }

  .splash .intro li:not(:first-child) {
      margin-left: 5em;
  }
}

.splash section.intro a {
  color: #fff;
}

.splash section.intro ul {
  list-style-type: none;
}

/*
  Registration box
  */

@media screen and (max-width: 1023px) {
  .splash section.registration-box p:last-of-type {
    padding: 0 2em;
  }
}

.splash section.registration-box p:first-of-type a:hover,
.splash section.registration-box p:first-of-type a:focus {
  background: #692d5a;
}

.splash section.registration-box p:first-of-type a {
  display: inline-block;
  background: #4e2945;
  padding: 2rem 4rem;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  transition: all .2s cubic-bezier(0.25, 0.35, 0.25, 1.25);
}

@media screen and (max-width: 1023px) {
  .splash section.registration-box p:first-of-type a {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1023px) {
  .splash section.registration-box p:first-of-type a {
    padding: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .splash section.registration-box {
    position: absolute;
    width: 390px;
    margin-top: -11em;
    text-align: right;
  }

  .splash section.registration-box p:first-of-type a span {
    display: block;
    font-size: 14px;
  }
  
  .splash section.registration-box p:last-of-type {
    padding: 0 4rem 0 0;
  }
}

/*
  Sponsorship
  */
  

.splash section.sponsorship {
  margin: 0 -2rem;
  padding: 3rem;
  background: #f4f4f4;
}

.splash section.sponsorship h2 {
  font-size: 32px;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .splash section.sponsorship {
    display: flex;
  }

  .splash section.sponsorship .become-a-sponsor {
    width: 50%;
    margin-left: 50px;
  }

  .splash section.sponsorship .previous-supporters {
    width: calc(50% - 150px);
    margin-left: 100px;
    margin-top: calc(32px + 1rem);
  }
}

.splash section.sponsorship .previous-supporters ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.splash section.sponsorship .previous-supporters li {
  width: 50%;
  margin: 1rem 0;
}

.splash section.sponsorship .previous-supporters img {
  max-width: 100px;
  max-height: 40px;
}

/*
  Generic content
  */

section.page-content {
  margin-top: 3em;
}

@media screen and (max-width: 1023px) {
  section.page-content {
    padding: 0 2rem;
  }
  
  section.speakers img {
    width: 75%;
    margin: 0 -2rem;
  }
}

section.page-content article {
  position: relative;
}

@media screen and (min-width: 1024px) {
  section.page-content article:nth-child(2n+1) {
    padding-right: 415px;
  }

  section.page-content article:nth-child(2n+1):not(:first-of-type) {
    padding-right: 480px;
  }

  section.page-content article:nth-child(2n) {
    padding-left: 415px;
  }

  section.page-content article:nth-child(2n):before {
    display: block;
    content: "";
    width: 400px;
    height: 50%;
    position: absolute;
    background: #e9e9e9;
    z-index: -1;
    left: 2rem;
    top: 4rem;
  }

  section.page-content article:nth-child(2n+1):not(:first-of-type) h2:first-of-type {
    background: #eb3f2a;
    color: #fff;
    padding: 1rem 2rem;
    margin-right: -165px;
    margin-left: -2rem;
    font-weight: 400;
  }
}

section.page-content article:first-of-type h2:first-of-type {
  font-size: 32px;
  font-weight: 400;
}

p.images {
  display: none;
}

@media screen and (min-width: 1024px) {
  section.page-content article p.images,
  section.page-content article p.button {
    display: block;
    position: absolute;
    top: 2.5rem;
    z-index: -1;
  }

  section.page-content article:nth-of-type(2n+1) p.images,
  section.page-content article:nth-of-type(2n+1) p.button {
    right: 0;
  }

  section.page-content article:nth-of-type(2n) p.images,
  section.page-content article:nth-of-type(2n1) p.button {
    left: 0;
  }

  section.page-content p.images img {
    display: block;
    width: 365px;
    margin-bottom: 50px;
  }

  section.page-content article p.button {
    top: auto;
    bottom: 2.5rem;
    z-index: 1;
  }
}

/*
  Footer
  */

.splash footer {
}

.splash footer nav {
  margin: 1rem 0 0;
  text-align: left;
}
