body {
  max-width: 55em;
  margin: auto;
  background-color: #fff;
  color: #333;
  
  font-family: "Proxima N W02 Reg", sans-serif;
}

a:link {
  color: #ff1845;
}

a:visited {
  color: #b30024;
}

h1, h2, h3, h4, h5, h6,
strong {
  font-weight: normal;
  font-family: "Proxima N W02 Bold", sans-serif;
}
