@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin,latin-ext);

* {
  box-sizing: border-box;
}

body {
  margin: 0 0 0 2rem;
  padding: 0;
  background-color: #fff;
  color: #333;
  font-size: 100%;
  line-height: 1.5em;
  font-family: Lato, sans-serif;
}

@media screen and (min-width: 1024px) {
  body {
    width: 960px;
  }
}

a {
  color: #eb3f2a;
}

.active a {
  background-color: #eb3f2a;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.5rem;
}

p {
  margin: 0 0 1.5rem;
}

blockquote {
  margin: 0;
  padding: 2rem 4rem;
  border: 1px solid #eee;
}

h2, h3 {
  color: #4e2945;
}

/*
  Header
  */

.splash header {
  position: absolute;
  width: 245px;
  height: 260px;
  padding-top: 5rem;
  background: #eb3f2a;
  color: #fff;
  text-align: right;
}

.splash header h1, .splash header h2 {
  font-weight: 400;
  color: #fff;
}

.splash h2 {
  font-size: 20px;
}

.splash header a {
  color: #fff;
  text-decoration: none;
}

/*
  Navigation
  */

nav ul {
  margin: 0;
  padding: 0;
}

.speakers picture,
.speakers img {
  float: left;
  max-width: 100px;
  margin-right: 1rem;
}

.splash nav {
  margin-bottom: 1rem;
  text-align: right;
  line-height: 1rem;
}

.splash nav ul {
  list-style-type: none;
}

.splash nav li {
  display: inline-block;
}

.splash nav a {
  padding: 0 1rem;
  text-decoration: none;
}

.splash nav a {
  padding: 1.5rem 1rem;
  text-decoration: none;
  display: block;
}

.splash nav .register {
    margin-left: 3rem;
}

.splash nav .register a {
  background: #4e2945;
  padding: 1.5rem 2rem;
  color: #fff;
}

/*
  Speaker list
  */

.splash section.speakers ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.splash section.speakers li {
  width: 50%;
}

.splash section.speakers li:nth-of-type(4n+2),
.splash section.speakers li:nth-of-type(4n+3) {
  width: calc(50% - 2rem);
}

.splash section.speakers li:nth-of-type(4n+2) {
  margin-left: 2rem;
}

.splash section.speakers li:nth-of-type(4n+3) {
  margin-right: 2rem;
}

.splash section.speakers li:nth-of-type(4n+3) {
  margin-right: 2rem;
}

.splash section.speakers li h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

.splash section.speakers li p {
  margin-bottom: 1em;
  padding: 0 1rem 0 calc(100px + 1rem);
}

.splash section.speakers li p:not(:first-of-type) {
  background: #f9f5f2;
  margin: -3.2em 25px 1em;
  padding: 3em 1em 1em calc(75px + 1rem);
  font-size: 14px;
}

/*
  Intro
  */
.splash section.intro {
  margin-left: 345px;
}

.splash section.intro p,
.splash section.intro ul {
  margin: 0;
  padding: 0 115px 1.5rem 115px;
  color: #fff;
  background: #eb3f2a;
  background-blend-mode: multiply;
}

.splash section.intro p:first-child {
  padding-top: 75px;
}

.splash section.intro ul {
  padding-bottom: 75px;
}

.splash section.intro a {
  color: #fff;
}

.splash section.intro ul {
  list-style-type: none;
}

.splash .intro li {
  display: inline;
}

.splash .intro li:not(:first-child) {
    margin-left: 5em;
}

.splash .intro p:first-child {
  
}

/*
  Registration box
  */

.splash section.registration-box {
  position: absolute;
  width: 390px;
  margin-top: -14em;
  text-align: right;
}

.splash section.registration-box p:first-of-type a {
  display: inline-block;
  background: #4e2945;
  padding: 2rem 4rem;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
}

.splash section.registration-box p:first-of-type a span {
  display: block;
  font-size: 14px;
}

.splash section.registration-box p:last-of-type {
  padding: 0 4rem 0 0;
}
