{% include header.html %}

<div class="content">
  <artticle>
<h1>{{ page.title }}</h1>
<picture>
  <source srcset="{{ site.baseurl }}static/img/speakers/{{ page.slug }}.png" media="(min-width: 600px)">
  <img src="{{ site.baseurl }}static/img/speakers/{{ page.slug }}.png" alt="{{ page.first_name }} {{ page.last_name }} photo">
</picture>
<ul class="social-media">
  {% if page.twitter != "" %}<li>Twitter: <a href="https://twitter.com/{{ page.twitter }}">{{ page.twitter }}</a></li>{% endif %}
  {% if page.github != "" %}<li>Github: <a href="http://github.com/{{ page.github }}">{{ page.github }}</a></li>{% endif %}
  {% if page.codepen != "" %}<li>Codepen: <a href="http://codepen.io/{{ page.codepen }}">{{ page.codepen }}</a></li>{% endif %}
  {% if page.website != "" %}<li>Website: <a href="{{ page.website }}">{{ page.website_label }}</a></li>{% endif %}
</ul>
{{ content }}
<div class="talk">
  <h3>{{ page.talk_title }}</h3>
  <h4>{{ page.date | date: "%A, %B %d, %H:%M" }}</h4>
  {{ page.talk_description }}</article>
</div>
</artticle>

{% include footer.html %}
