{% include header_splash.html %}
<div class="content">

  <section class="intro" id="about">
    <p>Front-Trends is one of Europe’s most established annual conferences for professional front-end developers to meet, learn and get inspired.</p>
    <p>See how the pros build the future face of the web and get motivated from a wide spectrum of front-end talks beyond the ordinary.</p>
    <ul>
      <li><a href="">Watch 2015 Videos</a></li>
      <li><a href="">Call for Speakers</a></li>
    </ul>
  </section>
  
  <section class="registration-box">
    <p><a href="{{ site.baseurl }}/register">Register <span>to Front-Trends 2016</span></a></p>
    <p>Early bird tickets available at €299</p>
  </section>

  <section class="page-content">
    {{ page.content }}
  </section>
  
  <section class="sponsorship" id="sponsorship">
    <article>
      <h2>Become a Sponsor</h2>
      <p>By sponsoring Front-Trends, you'll reach thousands of professional web developers (both at the event and online once videos are posted).</p>
      <p>Contact us directly about sonsorship opportunities at Front-Trends 2016: <a href="mailto:sponsors@front-trends.com">sponsors@front-trends.com</a></p>
    </article>

    <article class="previous-sponsors">
      <h3>Our Previous Supporters</h3>
      <ul>
        <li>Adobe</li>
        <li>Booking.com</li>
        <li>Google</li>
        <li>Microsoft</li>
        <li>Mozilla</li>
        <li>MyFonts</li>
        <li>PayPal</li>
        <li>T-Mobile</li>
      </ul>
    </article>
  </section>
</div>
{% include footer.html %}
