{% include header_splash.html %}
<div class="content">
  <h1>Front-Trends</h1>
  <div class="intro">
    <p>Front-Trends is one of Europe’s leading front-end conferences. For 3 full days, web and mobile developers can discover the latest trends, technologies, and inspirations in front-end development.</p>
    <p>Since 2010, Front-Trends has invited a line-up of global speakers who shape face of the internet and the future of human-technology interaction.</p>
    <p>Topics range from the inspirational, technical, and exciting, to experimental, live-coding, interactive sessions—our speakers take the audience through many different areas of front-end.</p>
  </div>
  
  {% assign sorted_speakers = (site.speakers | sort: 'last_name') %}
  <ul>
    {% for speaker in sorted_speakers %}
      <li>
        <h3>{{ speaker.first_name }} {{ speaker.last_name }}</h3>
        {% if speaker.twitter != "" %}<p><a href="https://twitter.com/{{ speaker.twitter }}">@{{ speaker.twitter }}</a></p>{% endif %}
        <p>{{ speaker.tagline }}</p>
      </li>
    {% endfor %}
  </ul>
  
{{ content }}
</div>
{% include footer.html %}
