{% include header_splash.html %}
<div class="content">

{{ page.content }}
  
  <section class="sponsorship" id="sponsorship">
    <h2>Become a Sponsor</h2>
    <p>By sponsoring Front-Trends, you'll reach thousands of professional web developers (both at the event and online once videos are posted).</p>
    <p>Contact us directly about sonsorship opportunities at Front-Trends 2016: <a href="mailto:sponsors@front-trends.com">sponsors@front-trends.com</a></p>

    <div class="previous-sponsors">
      <h2>Our Previous Supporters</h2>
      <ul>
        <li>Adobe</li>
        <li>Booking.com</li>
        <li>Google</li>
        <li>Microsoft</li>
        <li>Mozilla</li>
        <li>MyFonts</li>
        <li>PayPal</li>
        <li>T-Mobile</li>
      </ul>
    </div>
  </section>
</div>
{% include footer.html %}
