{% include header_splash.html %}
<div class="content">

  <section class="intro" id="about">
    <p>Front-Trends is one of Europe’s most established annual conferences for professional front-end developers to meet, learn and get inspired.</p>
    <p>See how the pros build the future face of the web and get motivated from a wide spectrum of front-end talks beyond the ordinary.</p>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=DPMx-Fp6lT0&list=PLBevk0eXLOGfkVhE7PArRg6nKHqmMKgtB" target="_blank">Watch 2015 Videos</a></li>
      <li><a href="{{ site.baseurl }}speaking-at-front-trends/">Call for Speakers</a></li>
    </ul>
  </section>
  
  <section class="registration-box">
    <p><a href="{{ site.baseurl }}register">Register <span>to Front-Trends 2016</span></a></p>
    <p>Tickets available at €379</p>
  </section>

  <section class="page-content speakers" id="speakers">
    <h2>Speakers</h2>

    {% assign sorted_speakers = (site.speakers | sort: 'last_name') %}
    <ul>
      {% for speaker in sorted_speakers %}
        <li>
          <a href="https://twitter.com/{{ speaker.twitter }}" title="{{ speaker.first_name }} {{ speaker.last_name }} on Twitter"><img src="{{ site.baseurl }}static/img/speakers/{{ speaker.name | slugify }}.png" alt="{{ speaker.first_name }} {{ speaker.last_name }} photo"/></a>
          <h3><!--a href="{{ site.baseurl }}speakers/{{ speaker.slug }}"-->{{ speaker.first_name }} {{ speaker.last_name }}<!--/a--></h3>
          {% if speaker.twitter != "" %}<p><a href="https://twitter.com/{{ speaker.twitter }}">@{{ speaker.twitter }}</a></p>{% endif %}
          <p class="tagline">{{ speaker.tagline }}</p>
        </li>
      {% endfor %}
    </ul>
    <p>More speakers will be announced soon!</p>
  </section>
  
  <section class="sponsorship" id="sponsorship">
    <article class="become-a-sponsor">
      <h2>Become a Sponsor</h2>
      <p>By sponsoring Front-Trends, you'll reach thousands of professional web developers (both at the event and online once videos are posted).</p>
      <p>Contact us directly about sonsorship opportunities at Front-Trends 2016: <a href="mailto:sponsors@front-trends.com">sponsors@front-trends.com</a></p>
    </article>
    <article class="previous-supporters">
      <h3>Our Previous Supporters</h3>
      <ul>
        <li><img alt="Adobe" src="{{ site.baseurl }}static/img/sponsors/adobe.svg"/></li>
        <li><img alt="Booking.com" src="{{ site.baseurl }}static/img/sponsors/booking.svg"/></li>
        <li><img alt="Google" src="{{ site.baseurl }}static/img/sponsors/google.svg"/></li>
        <li><img alt="Microsoft" src="{{ site.baseurl }}static/img/sponsors/microsoft.svg"/></li>
        <li><img alt="Mozilla" src="{{ site.baseurl }}static/img/sponsors/mozilla.svg"/></li>
        <li><img alt="MyFonts" src="{{ site.baseurl }}static/img/sponsors/myfonts.svg"/></li>
        <li><img alt="PayPal" src="{{ site.baseurl }}static/img/sponsors/paypal.svg"/></li>
        <li><img alt="T-Mobile" src="{{ site.baseurl }}static/img/sponsors/tmobile.svg"/></li>
      </ul>
    </article>
  </section>
</div>
{% include footer.html %}
